$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

.body{
    font-family: 'Kazimir', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}
.article-card {
    background-color: #f9f7f1 !important;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}

.nav {
    font-style: italic;
    font-family: 'Kazimir', serif;
    color: black
}

.page-title {
    font-size: 50px;
    font-family: 'Kazimir', serif;
}

// game CSS
.wrapper {
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: 40px repeat(8, 70px) 40px;
  }
  .wrapper-inner{
  display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: strech;
  }
  
  .box {
    padding: 20px;
    text-align: center;
    margin: 1px;
  }
  .box-inner{
    text-align: center;
    align-self: center;
  }
  .top,
  .bottom{
    display: grid;
    align-items: stretch;
  }
  .top {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .bottom {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 10;
  }
  
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
